/* Header CSS below */
.Headerlight{
  background-color: gainsboro;
  border: 2px solid black;
  padding: 1em;
}
.Headerdark{
  background-color: darkmagenta;
  border: 2px solid black;
  padding: 1em;
}
.Headerdisco{
  background-color: lime;
  border: 2px solid black;
  padding: 1em;
}

.NavBar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
}
.NavLinkslight{
  color: black;
}
.NavLinksdark{
  color: white;
}
.NavLinksdisco{
  color: blue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Body CSS below */
.Bodydark{
  height: 585px;
  text-align: center;
  background-color: darkgreen;
}
.Bodylight{
  height: 585px;
  text-align: center;
  background-color: lightgray;
}
.Bodydisco{
  height: 579px;
  text-align: center;
  background-color: rgb(248, 18, 171);
}
.body-select-element{
  margin-top: 15em;
}
/* Footer CSS below */
.Footerlight{
  color: black;
  text-align: center;
  padding: 1em;
  background-color: lightgrey;
  border-top: 2px solid black;
}
.Footerdark{
  color: white;
  text-align: center;
  padding: 1em;
  background-color: rgb(20, 24, 24);
}
.Footerdisco{
  color: peru;
  text-align: center;
  padding: 1em;
  background-color: aquamarine;
  border: 6px solid yellow
}