.feeding-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding: 0 2em 0 2em;
    gap: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid rgb(73, 69, 69);
}

.feeding-form h1{
    background: -webkit-linear-gradient(rgb(26, 1, 218), rgb(226, 15, 212));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feeding-form input {
    width: fit-content;
    margin: auto;
    padding: .5em
}

.radio-toolbar {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: fit-content;
    margin: auto;
}

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    background-color: #ddd;
    padding: 4px 11px;
    font-size: 16px;
    cursor: pointer;
    
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: rgb(139, 133, 133);
}

.notes-container {
    max-width: 100%;
    max-height: 100px;
    overflow: scroll;
}

.feeding-form button{
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    padding: .5em;
}

.tracker-log-card{
    border: 2px solid lightgray;
    display: flex;
    flex-direction: column;
    margin: .5em;
    padding: .25em;
    border-radius: 10px;
}

.back-button{
    text-align: left;
    padding: .5em 0 0 0;
    font-weight: 800;
    text-decoration: underline;
}