.profile{
    position: relative;
    border: 2px solid lightgrey;
    padding: 1em;
    margin: 1em;
    text-align: center;
}
.baby-info-box{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* margin-top: -5px; */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: .5em;
    border-radius: 10px;
    background: -webkit-linear-gradient(rgb(103, 86, 236), rgb(228, 131, 221));
}

.profile-header{
    text-align: center;
}

.default-image-container{
    text-align: center;
}
.baby-image{
    width: 100%;
}