* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: rgb(211, 186, 186);
}
h1 {
    position: relative;
    padding: .5em;
    background:linear-gradient(135deg, transparent 50px, green);
}
nav {
    position: relative;
    background: orange;
    padding: 10px;
    text-align: right;
}
nav > a {
    color: black;
    outline: 2px solid black;
    text-decoration: none;
    font-family: inherit;
    margin: 10px;
    padding: .25em
}
nav > a:hover {
    cursor: pointer;
    background: green;
}
/* -------------------------/|\-
-----------------------------|--
navigation bar all above-----|--
-----------------------------|--
-----------------------------|-- */

section {
    display: flex;
    justify-content: space-evenly;
    margin: 5em;
}
.container {
    border: 2px solid black;
    padding: 1em;
    margin: 1em;
    background: lightgray;
}
.header {
    background-color: rgb(231, 157, 60);
    padding: .25em;
    border-radius: .5em;
    width: 8em;
    height: 2em;
    text-align: center;
    margin-bottom: 2em;
}
li {
    border-radius: .35em;
    background-color: lightsteelblue;
    margin: .5em
}

/*------------------------------
------------------|-----|-------
 Mobile Design----|-----|-------
 -----------------|-----|-------
 -----------------V-----V------- */

 @media only screen and (max-width: 414px) {
    section {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 2em;
    }
    .container {
        border: 2px solid black;
        padding: 1em;
        margin: 1em;
        background: lightgray;
    }
    .header {
        background-color: rgb(231, 157, 60);
        padding: .25em;
        border-radius: .5em;
        width: 8em;
        height: 2em;
        text-align: center;
        margin-bottom: 2em;
        margin-left: 3em;
    }
    li {
        border-radius: .35em;
        background-color: lightsteelblue;
        margin: .5em
    }
 }