body, html{
  margin: 0;
}
.Header--header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.3em;
  background-color: #F55A5A;
}
.Header--logo{
  width: 30px;
  height: 30px;
}
.Header--title{
  color: white;
  font-size: 17px;
}
.Journal-entry{
  padding: 2em 2em 3em 2em;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}
.Card--destination{
  float: left;
  border-radius: 6px;
  margin-right: 2em;
  width: 40%;
  height: 310px;
}
.Card--location-icon{
  width: 17px;
  height: 17px;
}
.Card--location{
  margin-right: 2em;
}
.Card--link{
  color: #918E9B;
}
.Card--information{
  margin-left: 18em;
  padding-top: 2em;
}
/*---------------- mobile/tablet view below------------------- */
@media only screen and (min-width: 820px){
  .Card--destination{
    float: left;
    border-radius: 6px;
    margin-right: 2em;
    width: 40%;
    height: 250px;
  }
}



