.post-container{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 2em;
    border-radius: 15px;
    padding: 1em;
    margin: 4em;
}
.post-image{
    height: 300px;
}
.post-container button{
    width: fit-content;
}
.year-make-model{

}
.owner{
 
}
.date-posted{
    background-color: red;
    width: fit-content;
    height: fit-content;
}
.description{

}