body {
    background-image: url(https://wallpaperaccess.com/full/1251284.jpg);
    
}
.buttonContentBox {
    display: flex;
    justify-content:center;
    margin-top: 1.5em;
}
#decrease {
    width: 2em;
    margin-right: 1.5em;
    cursor: pointer;
    background-color: lightgray;
    font-size: 25px;
}
#increase {
    width: 2em;
    margin-left: 1.5em;
    cursor: pointer;
    background-color: lightgrey;
    font-size: 25px;
}
.decrease:hover {
    transform: scale(1.25);
}
.increase:hover {
    transform: scale(1.25);
}
#counter {
    font-size: 40px;
    margin: 0;
}
.circleWatchBorder {
    height: 330px;
    width: 330px;
    margin: auto;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 5em;
    box-shadow: 0 0px 25px 5px;
}
#time-display {
    border: 2px solid black;
    width: fit-content;
    margin: auto;
    margin-top: 3em;
    padding: .5em
}
#instructions {
    text-align: center;
}
#results{
    padding: 1em;
    margin:auto;
    margin-top: 2em;
    text-align: center;
    width: fit-content;
   
}
#resultInput{
    padding: 1em;
    width: fit-content;
    text-align: center;
}
#restartBtn {
    text-decoration: none;
    background: none;
    border: none;
    color: green;
    font-weight: bold;
    font-size: 15px;
    margin-top: .50em;
}
fieldset{
    border: 2px solid black; 
}