* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme {
  position: relative;
  text-align: center;
}

.meme--image {
  max-width: 477px;
  border-radius: 3px;
  border: 1px solid black;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
.addButton-wrapper{
  width: 120px;
  margin: auto;
  margin-bottom: .5em;
}
.addButton{
  padding: .35em;
  color: #FFFFFF;
  font-family: "Karla", sans-serif;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
}
.list-section{
  display: flex;
  /* text-overflow: ellipsis; */
  gap:1em;
  border: 2px solid black;
  width: fit-content;
  height: auto;
  padding: 1em;
  background-color: rgb(212, 207, 207);
}

/* form.js CSS below */

.saved-container{
  border: 2px solid black;
  height: fit-content;
  margin: 0 auto;
  padding: .5em;
  border-radius: 10px;
}
.individual-meme{
 max-width: 169px;
 position: relative;

}
.list-image{
  width: 100%;
}
.saved--text {
  position: absolute;
  width: 90%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 5px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.savedTop {
  top: 0;
}
.savedBottom {
  bottom: 0;
}
.saved-buttons{
  display: flex;
  font-family: "Karla", sans-serif;
}
.delete-logo{
  display:flex;
  align-items: center;
  font-family: inherit;
  margin-right: 6px;
}
.delete-logo > img{
  width: 20px;
  height: 20px
}
.download-logo{
  display: flex;
  align-items: center;
  font-family: inherit;
}
.download-logo > img{
  width: 20px;
  height: 20px
}
