.form-container{
    margin: auto
}
.form-title{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bounty-hunter-img{
    width: 90%;
    height: 53.5%;
    border: 2px solid darkgray;
    margin-left: auto;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border: 2px solid black;
    padding: 1em;
    background-color: rgb(89, 88, 88);
    width: 50%;
    height: fit-content;
    border: 2px solid darkgray;
    margin: auto;
    border-radius: 15px;
}
.form-input{
    border: 1px solid black;
    padding: 10px;
    width: 50%;
    background-color: black;
    border: 1px solid darkgray;
    color: white;
    margin: auto;
}
.form-select{
    border: 1px solid black;
    padding: 10px;
    width: 56%;
    background-color: black;
    border: 1px solid darkgray;
    color: white;
    margin: auto;
}
.form-input::placeholder{
    color: white
}
.add-btn{
    padding: 1.1em;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 1px solid darkgray
}