
body, html {
    margin: 0
}
.main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
   
}
.header{
    background-color: green;
    background-image: url(http://csszengarden.com/214/koi.jpg);
    height: 200px;
    padding: .5em;
    grid-column:  1 / 3;
    
}
.header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 2.8em;
}
.h1{
    color: #FFFFFF;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: lighter;
    font-size: 50px;
}
.h2{
    color: #FFFFFF;
    font-family: 'Julius Sans One';
    font-weight: lighter;
    font-size: 30px;
}
.header-picture{
    position: absolute;
    top: 2em;
    left: 8em;
    width: 140px;
    height: 140px;
    
}
.section-with-button{
    grid-column: 3 / 4;
    grid-row: 1;
    background-image: url(http://csszengarden.com/214/koi.jpg);
    text-align: center;
}
button{
    height: 70px;
    opacity: 30%;
    width: 65%;
    margin-top: 5em;
}
.arrow{
    width: 10%
}
h3{
    color: #325050;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: lighter;
    font-size: 28px;
}
p{
    font-size: 20px;
    color: #325050;
    font-family: 'Libre Baskerville', sans-serif;
    line-height: 2;
    font-weight: lighter;
}
.section1white{
    grid-column: 1 / 3;
    word-wrap: break-word;
    padding: 7em;
    padding-top: 1em;

}
.authors{
    background-color: #ecf5ef;
}
.section2green{
    background-color: rgba(155, 204, 175, 0.5);
    grid-column: 1 / 3;
    word-wrap: break-word;
    padding: 5em;
    padding-top: 1em;
}
.section3white{
    grid-column: 1 / 3;
    word-wrap: break-word;
    padding: 5em;
    padding-top: 1em;
}
.section-tan-open{
    background-color: #ecf5ef;
}
.section4green{
    grid-column: 1 / 4;
    background-image: url(http://csszengarden.com/214/koi.jpg);
    text-align: center;
}
.sectionfour-div > p{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.4);
    font-family: 'Libre Baskerville', sans-serif;
    font-style: italic;
}
.white-stuff{
    color: #FFFFFFB3;
    font-size: 35px;
}
.white-stuff:hover{
    text-decoration: underline;
}
.sectionfour-div{
    width: 900px;
    margin: auto
}
.social-media{
    background-color: #134347;
    grid-column: 1 / -1;
}
.links{
    display: flex;
    gap: 8em;
    padding: 2em;
    justify-content: center;
}
a{
    text-decoration: none;
}
.TML1{
    font-size: 72px;
}
.TML2{
    font-size: 72px;
}
.TML3{
    font-size: 72px;
}
.TML4{
    font-size: 72px;
}
.TML5{
    font-size: 72px;
}
.my-author-list{
    list-style: none;
    text-align:left;
    padding-left: 6em;
    font-family: 'Julius Sans One', sans-serif;
    width: 300px
}
.style-name{
    font-size: 23px;
    color: #607476;
    line-height: 2;
}
.style-name:hover{
    color: rgb(132, 132, 218)
}
.author-name{
    color: #616857;
    font-size: 20px;
    line-height: 1;
    word-wrap: normal;
}
.author-name:hover{
    color:rgba(108, 170, 134, 0.5)
}
.about{
    font-family: 'Julius Sans One', sans-serif;
    background-color: rgba(138,188,159,0.5);
    padding-top: 8em;
    line-height: 3;
}
.about-link{
    color:#607476;
    font-size: 20px;
    
}
.about-link:hover{
    color:#6aacac
}
.about-list{
    width: 300px;
    padding-left: 6em;
}








/* This is for mobile later  --------------------------------------------*/
/* .section-with-button{
    grid-column: 3 / 4;
    grid-row: 1;
    background-image: url(http://csszengarden.com/214/koi.jpg);
    text-align: center
}
button{
    height: 70px;
    opacity: 30%;
    width: 89%;
}
.arrow{
    width: 10%
} */